{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block header %}{% endblock header %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
    <div class="col-lg-6 col-sm-12">
        {% if projects %}
        <h1 class="text-center alert">Ваши проекты</h1>
        <ul class="list" style="padding-left: 0px;">
            {% for project in projects %}
            <a href="{{ project.get_absolute_url }}"><li class="list-group-item">{{ project }}</li></a>
            {% endfor %}
        </ul>
        {% else %}
            <h2 class="text-center">У вас нет активных проектов</h2>
        {% endif %}
        <form method="POST">
            <h1>Создать проект</h1>
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="form-control btn btn-primary" value="Создать проект">
        </form>


    </div>
</div>
</div>

{% endblock content %}
